<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Monofett&family=Poller+One&family=Rubik+Bubbles&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
    <h1><%= title %></h1>
    <a href="/skills">Skills List</a>
    </div>
  </body>
</html>
